@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@1&display=swap');

*{
  padding:0;
  margin: 0;
}

:root{
  --serif-font:'Coustard', serif;
  --san-serif-font:'Indie Flower', cursive;
}

a{
  text-decoration: none;
}