#register{
    background: url("../../images/loginBack.jpg") center center/cover no-repeat;
    height: 100vh;
 }


 #register .container{
     display: flex;
     height: 100%;
     justify-content: flex-end;
     align-items: center;
     width: 1100px;
     margin:auto;     
 }

 #register .container .form-content{
     min-height:500px;
     max-height: 800px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-flow: column;
     min-width: 300px;
     border-radius: 20px;
     box-shadow: -10px 10px lightgray;
     position: relative;
     padding: 2rem;
     animation: reveal 1s linear 1;
     transition: all 1s ease-in;
 }


  .thecard{
     position: absolute;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background: #fc4c46;
    width: 100%;
    height: 100%;
    border-radius: 20px;
 }

.thefront{
     position: absolute;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
     background: #fc4c46a2;
     border-radius: 20px;
     transition: all 0.5s ease;

 }
  .theback{
     position: absolute;
     width: 100%;
     height: 100%;
     backface-visibility: hidden;
     background: #445d3e;
     border-radius: 20px;
     transition: all 0.5s ease;


 }

 .flip{
     transform: rotateY(180deg);
 }

 .hide{
    animation: hide 0.5s ease 1;
    transition: all 0.5s ease;
 }

 .show{
     animation: show 0.5s ease 1;
     transition: all 0.5s ease;

 }

 #register .container .form-content h1{
     text-align: left;
     font-family: var(--serif-font);
     text-transform: uppercase;
     font-weight: bold;
     letter-spacing: 4px;
     font-size: 3rem;
     border-bottom: solid 1px #333;
     padding:0.75rem;
 }

 #register .container .form-container{
     display: flex;
     flex-flow: column nowrap;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
     
 }

 #register .container .form-container input{
     margin:0.75rem;
     padding: 0.5rem 0.75rem;
     font-family: var(--san-serif-font);
     font-size: 1.5rem;
     border-radius: 20px;
     border:none;
     outline: none;
 }

 #register .container .form-container button{
     background:#1b232b;
     color: #ecf1f4;
     border: none;
     display: block;
     padding: 0.5rem 0.75rem;
     width: 250px;
     margin: 0 auto;
     font-family: var(--serif-font);
     font-size: 1.3rem;
     letter-spacing: 4px;
     border-radius: 5px;
 }

 #register .container .form-container .reg{
     margin-bottom: 0.75rem;
 }

 #register .container .form-container .reg a{
     font-size: 1rem;
     cursor: pointer;
 }

 @keyframes show{
     0%{
         opacity: 0;
         transform:rotateY(180deg);
     }
     100%{
         opacity: 1;
     }
 }
 
 @keyframes hide {
     0%{
         opacity: 0;
         transform: rotateY(180deg);
     }
     100%{
         opacity: 1;
     }
 }

 @keyframes reveal{
     0%{
         transform: translateY(-120%);
         opacity: 0;
     }
     50%{
         transform: translateY(-50%);
         opacity:0.8
     }
     100%{
         transform: translateY(0);
         opacity: 1;
     }
 }
