#recipeSearch{
    background: #eff3f6;
    display: flex;
    height:92px;
    justify-content: center;
    align-self: center;
    position: sticky;
    top: 0;
}

#recipeSearch .search-container{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    width: 100%;
}

#recipeSearch .search-container .title{
    font-size: 2rem;
    margin-right: 1rem;
    color: #36434f;
    font-family: var(--serif-font);
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
}



#recipeSearch .search-container #search{
    min-width: 200px;
    width: 400px;
    height: 40px;
    padding: 0 1rem;
    border-radius: 20px;
    border: none;
    outline: none;
    font-family: var(--san-serif-font);
    font-size: 1.4rem;

}

#recipeSearch .search-container #search:focus{
    box-shadow: none;
}

#recipeSearch .search-container .searchBtn{
    min-width: 90px;
    max-width: 200px;
    word-spacing: 1.5;
    padding: 0.5rem ;
    border:none;
    border-radius: 20px;
    outline: none;
    background: #f73451b0;
    font-family: var(--serif-font);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
    color: #36434f;
    letter-spacing: 4px;
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s ease-out;
    margin-left: 1rem;
}

#recipeSearch .search-container .searchBtn:hover{
    transform: scale(1.1);
    box-shadow: -3px 3px 5px rgb(87, 87, 87);
}

#recipeSearch .search-container .searchBtn:active{
    transform: scale(0.9);
    box-shadow: none;
}

#results{
    background: #333333;
    padding: 2rem;
    position: fixed;
    bottom:0;
    left: 0;
    right: 0;
    top: 90px;
    height: 100%;
    overflow: auto;
}

#results .contaienr{
    padding: 2rem 3rem;
    margin:3rem;
    max-width: 2000px;
    min-width: 300px;
    margin:0 auto;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    margin: 0 auto;
}

#results .contaienr .recipe-card{
    max-width: 350px;
    height: 450px;
    background:#d3d5d6 ;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--san-serif-font);
    font-size: 1.2rem;;
    margin: 1rem 0;
    border:none;
    border-radius: 10px;
    box-shadow: -3px 4px  rgba(197, 201, 201, 0.39)  ;
    transition: all 0.3s ease-in-out;
}
#results .contaienr .recipe-card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 0px 20px rgba(197, 201, 201, 0.39)  ;
}

.picture{
    width: 350px;
    height: 243px;
}

img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


#results .contaienr .recipe-card .recipe-content{
    padding: 1rem;
}

#results .contaienr .recipe-card .recipe-content .title{
    font-family: var(--serif-font);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bolder;
}

.recipe-content .recipeBtn{
    background: rgb(252, 69, 69);
    color: #d3d5d6;
    display: block;
    margin: 1rem auto;
    max-width: 140px;
    padding:0.2rem;
    border-radius: 5px;
    outline: none;
    font-size: 1.3rem;
    font-family: var(--serif-font);
    box-shadow: 0px 2px 7px #333333;
    transition: all 0.3s ease-in-out;
}
.recipe-content .recipeBtn:hover{
    transform: translateY(1px);
    box-shadow: 0px 1px 3px #333333;
}
.recipe-content .recipeBtn:active{
    transform: translateY(2px);
    box-shadow: none;
}

/* Media */

/* Ipad */

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 

    #recipeSearch{
        position: static;
    }

    #results{
        height: 100%;
        position: static;
    }

    #recipeSearch .search-container #search{
        width: 200px;
    }
    #recipeSearch .search-container .title{
        font-size: 1.5rem;
    }
    #results .contaienr .recipe-card{
        flex-flow: row nowrap;
        max-width: none;
        max-height: 300px;
    }
    .picture{
        height: 100%;
        width: 60%;
    }
    img{
        border-top-right-radius: none;
    }
}

/* Iphone X */

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 812px)
and (-webkit-device-pixel-ratio : 3) { 
    #recipeSearch{
        position: static;
        min-height: 150px;
        height: 170px;
    }
    #results{
        height: 100%;
        position: static;
        margin: 0 auto;
    }
    #recipeSearch .search-container #search{
        width: 50px;
    }
    #recipeSearch .search-container .title{
        font-size: 1rem;
    }

    #recipeSearch .search-container{
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    #recipeSearch .search-container #search{
        margin: 0.75rem;
    }

    #results .contaienr{
        justify-content: center;
        padding: 1rem 0;
    }
    #results .contaienr .recipe-card{
        flex-flow: column nowrap;
        width: 250px;
        height: 300px;
        margin:0.5rem;
    }
    .picture{
        height: 40%;
        width: 100%;
    }
    #results .contaienr .recipe-card .recipe-content .title{
        font-size: 1rem;
    }
    #results .contaienr .recipe-card .recipe-content{
        font-size: 1rem;
    }
}

/* Iphone 6,7,8 */

@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) { 
    #recipeSearch{
        position: static;
        min-height: 150px;
        height: 170px;
    }
    #results{
        height: 100%;
        position: static;
        margin: 0 auto;
    }

    #recipeSearch .search-container #search{
        width: 50px;
        margin: 0.75rem;
    }
    #recipeSearch .search-container .title{
        font-size: 1rem;
    }

    #recipeSearch .search-container{
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    #results .contaienr{
        justify-content: center;
        padding: 1rem 0;
    }
    #results .contaienr .recipe-card{
        flex-flow: column nowrap;
        width: 250px;
        height: 300px;
        margin:0.5rem;
    }
    .picture{
        height: 40%;
        width: 100%;
    }
    #results .contaienr .recipe-card .recipe-content .title{
        font-size: 1rem;
    }
    #results .contaienr .recipe-card .recipe-content{
        font-size: 1rem;
    }
}

/* Iphone 5  */

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) { 
    #recipeSearch{
        position: static;
        min-height: 150px;
        height: 170px;
    }
    #results{
        height: 100%;
        position: static;
        margin: 0 auto;
        padding:1rem;
    }

    #recipeSearch .search-container #search{
        width: 50px;
        margin: 0.75rem;
    }
    #recipeSearch .search-container .title{
        font-size: 1rem;
    }

    #recipeSearch .search-container{
        flex-flow: column nowrap;
        justify-content: flex-start;
    }
    #results .contaienr{
        justify-content: center;
        padding: 1rem 0;
    }
    #results .contaienr .recipe-card{
        flex-flow: column nowrap;
        width: 250px;
        height: 300px;
        margin:0.5rem;
    }
    .picture{
        height: 40%;
        width: 100%;
    }
    #results .contaienr .recipe-card .recipe-content .title{
        font-size: 1rem;
    }
    #results .contaienr .recipe-card .recipe-content{
        font-size: 1rem;
    }
}